<div>
    <div>
        <div>Usuario: <input type="text" name="usuario"></div>
    </div>
    <div>
        <div>Contraseña: <input type="text" name="password"></div>
    </div>    
    <div>
        <div><input type="button" name="login" title="login" value="LOGIN" [routerLink]="['listado']"></div>
    </div>
</div>
