<div>
    <div> PERSONA 1 <input type="button" name="detalle" title="detalle" value="detalle" [routerLink]="['/listado/detalle']"></div>
    <div> PERSONA 2 <input type="button" name="detalle" title="detalle" value="detalle" [routerLink]="['/listado/detalle']"></div>
    <div> PERSONA 3 <input type="button" name="detalle" title="detalle" value="detalle" [routerLink]="['/listado/detalle']"></div>
    <div> PERSONA 4 <input type="button" name="detalle" title="detalle" value="detalle" [routerLink]="['/listado/detalle']"></div>
    <div>
        <div><input type="button" name="AÑADIR" title="AÑADIR" value="AÑADIR" [routerLink]="['/grabar']"></div>
    </div>
</div>